#optflags="$optflags --with-qt"
#optflags="$optflags --with-CppUTest-prefix=<CppUTest-prefix>"

#optflags="$optflags --enable-libym_utils"
#optflags="$optflags --enable-libym_logic"
#optflags="$optflags --enable-libym_mincov"
#optflags="$optflags --enable-libym_cell"
#optflags="$optflags --enable-libym_verilog"
#optflags="$optflags --enable-libym_networks"
#optflags="$optflags --enable-libym_gds"
#optflags="$optflags --enable-libym_cec"
#optflags="$optflags --enable-libym_techmap"
#optflags="$optflags --enable-libym_gbm"
#optflags="$optflags --enable-libym_seal"
#optflags="$optflags --enable-libym_tclpp"
#optflags="$optflags --enable-libym_ymsh"

#optflags="$optflags --enable-magus_tclsh"
#optflags="$optflags --enable-led"
#optflags="$optflags --enable-satpg"
#optflags="$optflags --enable-seal"
#optflags="$optflags --enable-igf"
#optflags="$optflags --enable-llvmeq"

#optflags="$optflags --enable-bnet2aig"
#optflags="$optflags --enable-enumcut"
#optflags="$optflags --enable-genaig"
#optflags="$optflags --enable-imp"
#optflags="$optflags --enable-lrw"
#optflags="$optflags --enable-lsim"
#optflags="$optflags --enable-makebdd"
#optflags="$optflags --enable-svm"

optflags="$optflags --prefix=__YM_PREFIX_DIR__"