#! /bin/sh

#optflags="$optflags --enable-libym_utils"
#optflags="$optflags --enable-libym_logic"
#optflags="$optflags --enable-libym_mincov"
#optflags="$optflags --enable-libym_cell"
#optflags="$optflags --enable-libym_verilog"
#optflags="$optflags --enable-libym_networks"
#optflags="$optflags --enable-libym_gds"
#optflags="$optflags --enable-libym_cec"
#optflags="$optflags --enable-libym_techmap"
#optflags="$optflags --enable-libym_gbm"
#optflags="$optflags --enable-libym_seal"
#optflags="$optflags --enable-libym_tclpp"
#optflags="$optflags --enable-libym_ymsh"

#optflags="$optflags --enable-magus_tclsh"
#optflags="$optflags --enable-led"
#optflags="$optflags --enable-satpg"
#optflags="$optflags --enable-seal"
#optflags="$optflags --enable-igf"
#optflags="$optflags --enable-llvmeq"

#optflags="$optflags --enable-bnet2aig"
#optflags="$optflags --enable-enumcut"
#optflags="$optflags --enable-genaig"
#optflags="$optflags --enable-imp"
#optflags="$optflags --enable-lrw"
#optflags="$optflags --enable-lsim"
#optflags="$optflags --enable-makebdd"
#optflags="$optflags --enable-svm"

# gmp(gmpxx) のオプション
# --with-gmp-prefix=DIR: DIR/include/gmpxx.h を満たす DIR を指定する．
# --with-gmp-libdir=DIR: -LDIR -lgmp で libgmp がリンクできるような DIR を指定する．
#optflags="$optflags --with-gmp-prefix=<gmp-prefix>"
#optflags="$optflags --with-gmp-libdir=<gmp-libdir>"

# popt のオプション
# --with-popt-prefix=DIR: DIR/include/popt.h が存在するような DIR を指定する．
# --with-popt-blidir=DIR: -LDIR -lpopt で libpopt がリンクできるような DIR を指定する．
#optflags="$optflags --with-popt-prefix=<popt-prefix>"
#optflags="$optflags --with-popt-libdir=<popt-libdir>"

# tcl のオプション
# --with-tcl=DIR:          DIR/tclConfig.sh が存在するような DIR を指定する．
# --with-tcl-includes=DIR: DIR/tcl.h が存在するような DIR を指定する．
# --with-tclreadline=DIR:  -LDIR -ltclreadline で libtclreadline がリンクできるような
#                          DIR を指定する．
# --with-tclreadline-include=DIR:
#                          DIR/tclreadline.h が存在するような DIR を指定する．
#optflags="$optflags --with-tcl=<tcl-dir>"
#optflags="$optflags --with-tcl-includes=<tcl-includes-dir>"
#optflags="$optflags --with-tclreadline=<tclreadline-dir>"
#optflags="$optflags --with-tclreadline-include=<tclreadline-include-dir>"

# Qt4 のオプション
# --with-qt: Qt4 を使う．
#optflags="$optflags --with-qt"

# CppUTest のオプション
# --with-CppUTest-prefix=DIR: DIR/include/CppUTest が存在するような DIR を指定する．
# --with-CppUTest-libdir=DIR: -LDIR -llibCppUTest でリンクできるような DIR を指定する．
#optflags="$optflags --with-CppUTest-prefix=<CppUTest-prefix>"
#optflags="$optflags --with-CppUTest-libdir=<CppUTest-libdir>"

# prefix の指定
optflags="$optflags --prefix=__YM_PREFIX_DIR__"
