#! /bin/sh

# Copyright (C) 2005-2009, 2014 Yusuke Matsunaga
# All rights reserved

srcdir="__YM__SRC__DIRECTORY__"

# common config file
commonconf="__YM__AUTOGEN_COMMON__"

# local config file
localconf="./autogen.local"

# default values
CC=gcc
CFLAGS=
CXX=g++
CXXFLAGS=
CPP=cpp
CPPFLAGS=
optflags=""

if test -r $commonconf; then
  . $commonconf
fi

if test -r $localconf; then
  . $localconf
fi

env CC="$CC" \
    CFLAGS="$CFLAGS" \
    CXX="$CXX" \
    CXXFLAGS="$CXXFLAGS" \
    CPP="$CPP" \
    CPPFLAGS="$CPPFLAGS" \
    $srcdir/configure $optflags
